body 		{background-color:#FFDDFF}
h1 			{background-color:#CCCCFF; color:#27214F; text-align:center; font-family: Arial; font-style: normal; font-variant: normal}
h2 			{background-color:#CCCCFF; color:#27214F; text-align:center; font-family: Arial; font-style: normal; font-variant: normal}
h3 			{background-color:#CCCCFF; color:#27214F; text-align:center; font-family: Arial; font-style: normal; font-variant: normal}
h4 			{background-color:#CCCCFF; color:#27214F; text-align:center; font-family: Arial; font-style: normal; font-variant: normal}
h5 			{background-color:#CCCCFF; color:#27214F; text-align:center; font-family: Arial; font-style: normal; font-variant: normal}
h6 			{background-color:#CCCCFF; color:#27214F; text-align:center; font-family: Arial; font-style: normal; font-variant: normal}
p 			{background-color:#E6EBFF; color:#27214F; font-family: Arial; font-style: normal; font-variant: normal}
blockquote	{font-family: Arial; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px}
pre 		{font-family: Arial; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px}
header
nav
aside
footer